<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/manager.css">

    <title>Salvogame!</title>
</head>
<body>

<div id="app">
    <div class="container-fluid" v-show="gameView != null">
        <div class="row">
            <div class="col-12">
                <ul>
                    <button type="button" class="btn btn-outline-warning"> <a href="http://localhost:8080/web/games.html">Home</a></button>

                    {{ viewer != null ? viewer.email: '' }}
                    (you) Vs {{ vs != null ? vs.email: 'Waiting for player' }}

                    <button type="button" class="btn btn-outline-warning" v-on:click="logOut">SignOut</button>
                </ul>
            </div>
            <table id="table" class="col-5 ml-5 table table-bordered table-hover ">
                <thead>
                    <tr>
                        <th class="rColumn1"> </th>
                        <th class="rowColumn" v-for="column in columns"> {{ column }} </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="row in rows">
                        <th class="rowColumn">{{ row }}</th>
                        <td class="column" v-on:click="newShip(row , column)" v-for="column in columns" v-bind:id= "row + column"> </td>
                    </tr>
                </tbody>
            </table>
            <button v-show="newGame.length != 5" type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#exampleModal">Save Ships</button>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Do you want to save progress? After this you won't be able to do it again.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button  type="button" class="btn btn-primary" v-on:click="addShips(gp)">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col modal-footer" v-show="gameView != null && gameView.ships.length != 5">
                <table class="tableShips ml-5 table table-bordered table-hover ">
                    <thead>
                        <tr>
                            <th> Number </th>
                            <th> Type </th>
                            <th> Length </th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr>
                            <th>{{ ships.findIndex(ship => ship.type === "Carrier") != -1 ? 0 : 1 }} </th>
                            <td><input type="radio" id="Carrier" value="Carrier" v-model="shipSelected">
                                <label for="Carrier">Carrier</label></td>
                            <th>5</th>
                        </tr>
                        <tr>
                            <th>{{ ships.findIndex(ship => ship.type === "Battleship") != -1 ? 0 : 1 }}</th>
                            <td><input type="radio" id="Battleship" value="Battleship" v-model="shipSelected">
                                <label for="Battleship">Battleship</label></td>
                            <th>4</th>
                        </tr>
                        <tr>
                            <th>{{ ships.findIndex(ship => ship.type === "Submarine") != -1 ? 0 : 1 }}</th>
                            <td><input type="radio" id="Submarine" value="Submarine" v-model="shipSelected">
                                <label for="Submarine">Submarine</label></td>
                            <th>3</th>
                        </tr>
                        <tr>
                            <th>{{ ships.findIndex(ship => ship.type === "Destroyer") != -1 ? 0 : 1 }}</th>
                            <td><input type="radio" id="Destroyer" value="Destroyer" v-model="shipSelected">
                                <label for="Destroyer">Destroyer</label></td>
                            <th>3</th>
                        </tr>
                        <tr>
                            <th>{{ ships.findIndex(ship => ship.type === "Patrol Boat") != -1 ? 0 : 1 }}</th>
                            <td><input type="radio" id="PatrolBoat" value="Patrol Boat" v-model="shipSelected">
                                <label for="PatrolBoat">Patrol Boat</label> </td>
                            <th>2</th>
                        </tr>
                    </tbody>
                </table>

                <input type="radio" id="vertical" value="vertical" v-model="position">
                <label for="vertical">Vertical</label>
                <br>
                <input type="radio" id="horizontal" value="horizontal" v-model="position">
                <label for="horizontal">Horizontal</label>
            </div>

            <button v-show="gameView != null && gameView.status == 'FIRE'" type="button" class="btn btn-danger" v-on:click="addSalvoes(gp)">FIRE</button>
            <button v-show="gameView != null && gameView.status == 'WAIT_OPPONENT'" type="button" class="btn btn-warning">WAITING <br> OPPONENT</button>
            <button v-show="gameView != null && gameView.status == 'WAIT'" type="button" class="btn btn-warning">OPPONENT TURN <br> WAIT!!</button>
            <div v-if="gameView != null && (gameView.status == 'WIN' || gameView.status =='TIE' || gameView.status =='LOST')"> {{gameView.status}} </div>

            <div class="col" v-show="gameView != null && gameView.status == 'FIRE'" >
                <table id="tableSalvoes" class="ml-5 table table-bordered table-hover ">
                    <thead>
                    <tr>
                        <th class="rColumn1"> </th>
                        <th class="rowColumn" v-for="column in columns"> {{ column }} </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="row in rows">
                        <th class="rowColumn">{{ row }}</th>
                        <td data-toggle="tooltip" data-placement="top" v-bind:title="row + column" class="column" v-on:click="newSalvo(row , column)" v-for="column in columns" v-bind:id= "row + column + 's'">{{  }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="col align-self-end">
                <table id="tableShips" class="ml-5 table table-bordered table-hover ">
                    <thead>
                    <tr>
                        <th class="rowColumn" > Enemy Ships </th>
                        <th class="rowColumn" id="1"> Carrier </th>
                        <th class="rowColumn" id="2"> Battleship </th>
                        <th class="rowColumn" id="3"> Destroyer </th>
                        <th class="rowColumn" id="4"> Submarine </th>
                        <th class="rowColumn" id="5"> Patrol Boat </th>
                    </tr>
                    </thead>
                </table>
            </div>
            <iframe class="ml-5 col-12" src="https://open.spotify.com/embed/artist/432R46LaYsJZV2Gmc4jUV5" width="300" height="200" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

<!-- Boostrap -->
<script src="js/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
</script>
<script src="js/game.js"></script>

</body>
</html>